@media screen and (max-width: 480px){

  header
  {
    /*border: 2px solid red;*/
  }

  .contenedor
  {
    display: none;
    border: 2px solid green;
  }

  .logo
  {
    width:100%;

  }

  .menu-icono
  {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: center;
    margin-top: 12%;
  }

  .menu-icono p
  {
    font-size: 20px;
    margin-bottom: 15%;
  }

  .menu-icono span
  {
    width: 100%;
    font-size: 35px;
    text-align: center;
  }

  .logofigure
  {
    display: inline-block;
    /*border: 2px solid red;*/
    width: 75%;
    margin: 0px;
  }

  .logofigure img{
    width: 100%;
    height: 100%;
  }

  .contenedor
  {
    width: 100%;
  }

  .banner
  {
    /*border: 2px solid green;*/
     height: 380px;
     width: 100%;
  }

  .menu-fixed {
      z-index: 1000;
      top: 0;
      width: 100%;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
  }

  header nav ul li{
    width: 100%;
    margin: 0px;
  }

  header nav ul li a {
    width: 100%;
  }


  .conleyenda
  {
    width: 100%;
    font-size: 15px;
    text-align: center;
    /*border: 2px solid red;*/
  }

  .contenpuntosproduc
  {
    width: 100%;
    padding: 15px;
  }

  .puntos{
    width: 100%;
  }

  .productos
  {
    font-size: 20px;
  }

  .puntosespecificos{
    font-size: 15px;
    text-align: left;
    padding-left: 5%;
  }

  .text_boton
  {
    font-size: 20px;
    padding-top: 0px;
  }

  .boton
  {
    text-align: center;
    margin: 5% 0% 5% 0%;
  }

  .boton a{
    margin: 0px;
    padding: 5px;
    font-size: 20px;
  }

  .contindex
  {
    width: 100%;
    margin-top: 5%;
  }

  .contenproduc
  {
  }

  .productouno:hover
  {
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  .productodos:hover{
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  .dtcdos, .petruspie
  {
    font-size: 15px;
  }

  /*********Inicia seccion quienes somos*********/
  .nosotros
  {
    /*border: 2px solid green;*/
    width: 100%;
    font-size: 25px;
  }

  .bannerdos
  {
    /*border: 2px solid red;*/
  }

  .descriptiondos
  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
    text-align: justify;
  }

  .botonnosotros
  {
    width: 100%;
    text-align: center;
    margin-top: 90%;
  }

  .botonnosotros a
  {
    margin: 0px;
    font-size: 18px;
  }

  .bannertres
  {
    height: 100%;
    margin-bottom: 10%;
  }
  .contenmvv
  {
    width: 100%;
    padding-bottom: 10%;
  }

  .mi {
    width: 90%;
    margin-top: 5%;
  }


  .cabeza_mision
  {
    font-size: 18px;
  }

  .texto_mision{
    font-size: 15px;
  }

  .bannercuatro
  {
    /*border: 2px solid blue;*/
  }

  .bannercuatro h1
  {
    width: 100%;
    font-size: 25px;
  }


  div#body
  {
    margin: 0px;
    padding: 0px;
    width: 100%
  }

  div.subapartado  {
    width: 100%;
  }

  div.info
  {
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }


  p.info
  {
    margin: 5px;
    text-align: center;
  }

  /*********Inicia Producto***************/
  .lema{
    /*border: 2px solid red;*/
    font-size: 16px;
  }

  .contenproducc
  {
    /*border: 2px solid red;*/
    width: 100%;
  }

  .productounoo, .productodoss, .productotress, .productocuatro,.productocinco, .productoseis
  {
    width: 100%;
    margin: 0px;
    margin-top: 10%;
  }

  .productounoo:hover, .productodoss:hover, .productotress:hover, .productocuatro:hover,
  .productocinco:hover, .productoseis:hover{
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  /************Inicia Contacto***************/
  .contacto
  {
    /*border: 2px solid green;*/
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin-top: 6%;
  }

  .contenformudatos
  {
    /*border: 2px solid red;*/
    height: 100%;
  }

  .formulario, .datos
  {
    width: 100%;
    margin: 0px;
  }

  .datos
  {
    /*border: 2px solid green;*/
    margin-top: 5%;
    height: 500px;
    /*height: 500px*/
  }

  .direccion
  {
    width: 100%;
  }



  .texto-direccion .dir-text
  {
    border-top: .5px solid rgb(42, 31, 88);
    width: 100%;
    margin: 0px;
    margin-bottom: 5%;
  }

  .dir-text div
  {
    text-align: center;
    /*border: 2px solid red;*/
  }
}

@media screen and (max-width: 599px) and (min-width: 481px) {
  header
  {
    /*border: 2px solid red;*/
  }

  .contenedor
  {
    display: none;
    border: 2px solid green;
  }

  .logo
  {
    width:100%;

  }

  .menu-icono
  {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: center;
    margin-top: 8%;
  }

  .menu-icono p
  {
    font-size: 20px;
    margin-bottom: 15%;
  }

  .menu-icono span
  {
    width: 100%;
    font-size: 35px;
    text-align: center;
  }

  .logofigure
  {
    display: inline-block;
    /*border: 2px solid red;*/
    width: 75%;
    margin: 0px;
  }

  .logofigure img{
    width: 100%;
    height: 100%;
  }

  .contenedor
  {
    width: 100%;
  }

  .banner
  {
    /*border: 2px solid green;*/
     height: 380px;
     width: 100%;
  }

  .menu-fixed {
      z-index: 1000;
      top: 0;
      width: 100%;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
  }

  header nav ul li{
    width: 100%;
    margin: 0px;
  }

  header nav ul li a {
    width: 100%;
  }


  .conleyenda
  {
    width: 100%;
    font-size: 15px;
    text-align: center;
    /*border: 2px solid red;*/
  }

  .contenpuntosproduc
  {
    width: 100%;
    padding: 15px;
  }

  .puntos{
    width: 100%;
  }

  .productos
  {
    font-size: 20px;
  }

  .puntosespecificos{
    font-size: 15px;
    text-align: left;
    padding-left: 5%;
  }

  .text_boton
  {
    font-size: 20px;
    padding-top: 0px;
  }

  .boton
  {
    text-align: center;
    margin: 5% 0% 5% 0%;
  }

  .boton a{
    margin: 0px;
    padding: 5px;
    font-size: 20px;
  }

  .contindex
  {
    width: 100%;
    margin-top: 5%;
  }

  .contenproduc
  {
  }

  .productouno:hover
  {
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  .productodos:hover{
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  .dtcdos, .petruspie
  {
    font-size: 15px;
  }

  /*********Inicia seccion quienes somos*********/
  .nosotros
  {
    /*border: 2px solid green;*/
    width: 100%;
    font-size: 25px;
  }

  .bannerdos
  {
    /*border: 2px solid red;*/
    /*width: 80%;*/
  }

  .descriptiondos
  {
    width: 80%;
    margin: 0px;
    font-size: 10px;
    text-align: justify;
  }

  .botonnosotros
  {
    width: 100%;
    text-align: center;
    margin-top: 90%;
  }

  .botonnosotros a
  {
    margin: 0px;
    font-size: 18px;
  }

  .bannertres
  {
    height: 100%;
    margin-bottom: 10%;
  }
  .contenmvv
  {
    width: 100%;
    padding-bottom: 10%;
  }

  .mi {
    width: 90%;
    margin-top: 5%;
  }


  .cabeza_mision
  {
    font-size: 18px;
  }

  .texto_mision{
    font-size: 15px;
  }

  .bannercuatro
  {
    /*border: 2px solid blue;*/
  }

  .bannercuatro h1
  {
    width: 100%;
    font-size: 25px;
  }


  div#body
  {
    margin: 0px;
    padding: 0px;
    width: 100%
  }

  div.subapartado  {
    width: 100%;
  }

  div.info
  {
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }


  p.info
  {
    margin: 5px;
    text-align: center;
  }

  /*********Inicia Producto***************/
  .lema{
    /*border: 2px solid red;*/
    font-size: 16px;
  }

  .contenproducc
  {
    /*border: 2px solid red;*/
    width: 100%;
  }

  .productounoo, .productodoss, .productotress, .productocuatro,.productocinco, .productoseis
  {
    width: 100%;
    margin: 0px;
    margin-top: 10%;
  }

  .productounoo:hover, .productodoss:hover, .productotress:hover, .productocuatro:hover,
  .productocinco:hover, .productoseis:hover{
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  /************Inicia Contacto***************/
  .contacto
  {
    /*border: 2px solid green;*/
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin-top: 6%;
  }

  .contenformudatos
  {
    /*border: 2px solid red;*/
    height: 100%;
  }

  .formulario, .datos
  {
    width: 100%;
    margin: 0px;
  }

  .datos
  {
    /*border: 2px solid green;*/
    margin-top: 5%;
    height: 500px;
    /*height: 500px*/
  }

  .direccion
  {
    width: 100%;
  }



  .texto-direccion .dir-text
  {
    border-top: .5px solid rgb(42, 31, 88);
    width: 100%;
    margin: 0px;
    margin-bottom: 5%;
  }

  .dir-text div
  {
    text-align: center;
    /*border: 2px solid red;*/
  }
}

@media screen and (max-width: 799px) and (min-width: 600px) {
  header
  {
    /*border: 2px solid red;*/
  }

  .contenedor
  {
    display: none;
    border: 2px solid green;
  }

  .logo
  {
    width:100%;
    text-align: center;
  }

  .menu-icono
  {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: center;
    margin-top: 5%;
    /*border: 2px solid red;*/
  }

  .menu-icono p
  {
    font-size: 20px;
    margin-bottom: 15%;
  }

  .menu-icono span
  {
    width: 100%;
    font-size: 35px;
    text-align: center;
  }

  .logofigure
  {
    display: inline-block;
    /*border: 2px solid red;*/
    width: 55%;
    margin: 0px;
  }

  .logofigure img{
    width: 100%;
    height: 100%;
  }

  .contenedor
  {
    width: 100%;
  }

  .banner
  {
    /*border: 2px solid green;*/
     height: 380px;
     width: 100%;
  }

  .menu-fixed {
      z-index: 1000;
      top: 0;
      width: 100%;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
  }

  header nav ul li{
    width: 100%;
    margin: 0px;
  }

  header nav ul li a {
    width: 100%;
  }


  .conleyenda
  {
    width: 100%;
    font-size: 15px;
    text-align: center;
    /*border: 2px solid red;*/
  }

  .contenpuntosproduc
  {
    width: 100%;
    padding: 15px;
  }

  .puntos{
    width: 100%;
  }

  .productos
  {
    font-size: 20px;
  }

  .puntosespecificos{
    font-size: 15px;
    text-align: left;
    padding-left: 5%;
  }

  .text_boton
  {
    font-size: 20px;
    padding-top: 0px;
  }

  .boton
  {
    text-align: center;
    margin: 5% 0% 5% 0%;
  }

  .boton a{
    margin: 0px;
    padding: 5px;
    font-size: 20px;
  }

  .contindex
  {
    width: 100%;
    margin-top: 5%;
  }

  .contenproduc
  {
  }

  .productouno:hover
  {
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  .productodos:hover{
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  .dtcdos, .petruspie
  {
    font-size: 15px;
  }

  /*********Inicia seccion quienes somos*********/
  .nosotros
  {
    /*border: 2px solid green;*/
    width: 100%;
    font-size: 25px;
  }

  .bannerdos
  {
    /*border: 2px solid red;*/
  }

  .descriptiondos
  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
    text-align: justify;
  }

  .botonnosotros
  {
    width: 100%;
    text-align: center;
    margin-top: 90%;
  }

  .botonnosotros a
  {
    margin: 0px;
    font-size: 18px;
  }

  .bannertres
  {
    height: 100%;
    margin-bottom: 10%;
  }
  .contenmvv
  {
    width: 100%;
    padding-bottom: 10%;
  }

  .mi {
    width: 90%;
    margin-top: 5%;
  }


  .cabeza_mision
  {
    font-size: 18px;
  }

  .texto_mision{
    font-size: 15px;
  }

  .bannercuatro
  {
    /*border: 2px solid blue;*/
  }

  .bannercuatro h1
  {
    width: 100%;
    font-size: 25px;
  }


  div#body
  {
    margin: 0px;
    padding: 0px;
    width: 100%
  }

  div.subapartado  {
    width: 100%;
  }

  div.info
  {
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }


  p.info
  {
    margin: 5px;
    text-align: center;
  }

  /*********Inicia Producto***************/
  .lema{
    /*border: 2px solid red;*/
    font-size: 16px;
  }

  .contenproducc
  {
    /*border: 2px solid red;*/
    width: 100%;
  }

  .productounoo, .productodoss, .productotress, .productocuatro,.productocinco, .productoseis
  {
    width: 100%;
    margin: 0px;
    margin-top: 10%;
  }

  .productounoo:hover, .productodoss:hover, .productotress:hover, .productocuatro:hover,
  .productocinco:hover, .productoseis:hover{
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  /************Inicia Contacto***************/
  .contacto
  {
    /*border: 2px solid green;*/
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin-top: 6%;
  }

  .contenformudatos
  {
    /*border: 2px solid red;*/
    height: 100%;
  }

  .formulario, .datos
  {
    width: 100%;
    margin: 0px;
  }

  .datos
  {
    /*border: 2px solid green;*/
    margin-top: 5%;
    height: 500px;
    /*height: 500px*/
  }

  .direccion
  {
    width: 100%;
  }



  .texto-direccion .dir-text
  {
    border-top: .5px solid rgb(42, 31, 88);
    width: 100%;
    margin: 0px;
    margin-bottom: 5%;
  }

  .dir-text div
  {
    text-align: center;
    /*border: 2px solid red;*/
  }
}

@media screen and (max-width: 1023px) and (min-width: 800px) {
  header
  {
    /*border: 2px solid red;*/
  }

  .contenedor
  {
    display: none;
    border: 2px solid green;
  }

  .logo
  {
    width:100%;
    text-align: center;
  }

  .menu-icono
  {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: center;
    margin-top: 4%;
    /*border: 2px solid red;*/
  }

  .menu-icono p
  {
    font-size: 25px;
    margin-bottom: 4%;
  }

  .menu-icono span
  {
    width: 100%;
    font-size: 35px;
    text-align: center;
  }

  .logofigure
  {
    display: inline-block;
    /*border: 2px solid red;*/
    width: 45%;
    margin: 0px;
  }

  .logofigure img{
    width: 100%;
    height: 100%;
  }

  .contenedor
  {
    width: 100%;
  }

  .banner
  {
    /*border: 2px solid green;*/
     height: 380px;
     width: 100%;
  }

  .menu-fixed {
      z-index: 1000;
      top: 0;
      width: 100%;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
  }

  header nav ul li{
    width: 100%;
    margin: 0px;
  }

  header nav ul li a {
    width: 100%;
  }


  .conleyenda
  {
    width: 100%;
    font-size: 15px;
    text-align: center;
    /*border: 2px solid red;*/
  }

  .contenpuntosproduc
  {
    width: 100%;
    padding: 15px;
    /*border: 2px solid red;*/
  }

  .puntos{
    width: 100%;
  }

  .productos
  {
    font-size: 20px;
  }

  .puntosespecificos{
    font-size: 15px;
    text-align: left;
    padding-left: 5%;
    /*border: 2px solid red;*/
  }

  .text_boton
  {
    font-size: 20px;
    padding-top: 0px;
  }

  .boton
  {
    text-align: center;
    margin: 5% 0% 5% 0%;
    /*border: 2px solid red;*/
  }

  .boton a{
    margin: 0px;
    padding: 5px;
    font-size: 35px;
  }

  .contindex
  {
    width: 100%;
    margin-top: 5%;
  }

  .contenproduc
  {
    /*border: 2px solid red;*/
  }

    .productouno, .productodos
    {
      height: 100%;
    }

  .productouno:hover
  {
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  .productodos:hover{
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  .dtcdos, .petruspie
  {
    font-size: 15px;
  }

  /*********Inicia seccion quienes somos*********/
  .nosotros
  {
    /*border: 2px solid green;*/
    width: 100%;
    font-size: 25px;
  }

  .bannerdos
  {
    /*border: 2px solid red;*/
  }

  .descriptiondos
  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
    text-align: justify;
  }

  .botonnosotros
  {
    width: 100%;
    text-align: center;
    margin-top: 90%;
  }

  .botonnosotros a
  {
    margin: 0px;
    font-size: 18px;
  }

  .bannertres
  {
    height: 100%;
    margin-bottom: 10%;
  }
  .contenmvv
  {
    width: 100%;
    padding-bottom: 10%;
  }

  .mi {
    width: 90%;
    margin-top: 5%;
  }


  .cabeza_mision
  {
    font-size: 18px;
  }

  .texto_mision{
    font-size: 15px;
  }

  .bannercuatro
  {
    /*border: 2px solid blue;*/
  }

  .bannercuatro h1
  {
    width: 100%;
    font-size: 25px;
  }


  div#body
  {
    margin: 0px;
    padding: 0px;
    width: 100%
  }

  div.subapartado  {
    width: 100%;
  }

  div.info
  {
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }


  p.info
  {
    margin: 5px;
    text-align: center;
  }

  /*********Inicia Producto***************/
  .lema{
    /*border: 2px solid red;*/
    font-size: 16px;
  }

  .contenproducc
  {
    /*border: 2px solid red;*/
    width: 100%;
  }

  .productounoo, .productodoss, .productotress, .productocuatro,.productocinco, .productoseis
  {
    width: 100%;
    margin: 0px;
    margin-top: 10%;
  }

  .productounoo:hover, .productodoss:hover, .productotress:hover, .productocuatro:hover,
  .productocinco:hover, .productoseis:hover{
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  /************Inicia Contacto***************/
  .contacto
  {
    /*border: 2px solid green;*/
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin-top: 6%;
  }

  .contenformudatos
  {
    /*border: 2px solid red;*/
    height: 100%;
  }

  .formulario, .datos
  {
    width: 100%;
    margin: 0px;
  }

  .datos
  {
    /*border: 2px solid green;*/
    margin-top: 5%;
    height: 500px;
    /*height: 500px*/
  }

  .direccion
  {
    width: 100%;
  }



  .texto-direccion .dir-text
  {
    border-top: .5px solid rgb(42, 31, 88);
    width: 100%;
    margin: 0px;
    margin-bottom: 5%;
  }

  .dir-text div
  {
    text-align: center;
    /*border: 2px solid red;*/
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {      /* mac*/
  header
  {
    /*border: 2px solid red;*/
  }

  .contenedor
  {
    display: none;
    border: 2px solid green;
  }

  .logo
  {
    width:100%;
    text-align: center;
  }

  .menu-icono
  {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: center;
    margin-top: 4%;
    /*border: 2px solid red;*/
  }

  .menu-icono p
  {
    font-size: 25px;
    margin-bottom: 4%;
  }

  .menu-icono span
  {
    width: 100%;
    font-size: 35px;
    text-align: center;
  }

  .logofigure
  {
    display: inline-block;
    /*border: 2px solid red;*/
    width: 45%;
    margin: 0px;
  }

  .logofigure img{
    width: 100%;
    height: 100%;
  }

  .contenedor
  {
    width: 100%;
  }

  .banner
  {
    /*border: 2px solid green;*/
     height: 380px;
     width: 100%;
  }

  .menu-fixed {
      z-index: 1000;
      top: 0;
      width: 100%;
      box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
  }

  header nav ul li{
    width: 100%;
    margin: 0px;
  }

  header nav ul li a {
    width: 100%;
  }


  .conleyenda
  {
    width: 100%;
    font-size: 15px;
    text-align: center;
    /*border: 2px solid red;*/
  }

  .contenpuntosproduc
  {
    width: 100%;
    padding: 15px;
    /*border: 2px solid red;*/
  }

  .puntos{
    width: 100%;
    /*border: 2px solid red;*/
    height: 100%;
  }

  .productos
  {
    font-size: 20px;
  }

  .puntosespecificos{
    font-size: 15px;
    text-align: left;
    /*padding-left: 5%;*/
    margin: 0px;
    padding: 0px;
    /*border: 2px solid red;*/
    height: 100%;
  }

  .text_boton
  {
    font-size: 20px;
    margin-top: : -100px;
    /*border: 2px solid red;*/
  }

  .boton
  {
    text-align: center;
    margin: 5% 0% 5% 0%;
  }

  .boton a{
    margin: 0px;
    padding: 5px;
    font-size: 35px;
  }

  .contindex
  {
    width: 100%;
  }

  .contenproduc
  {
    display: inline-block;
    text-align: center;
  }

    .productouno, .productodos
    {
      display: inline-block;
      height: 100%;
      width: 45%;
    }

  .productouno:hover
  {
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  .productodos:hover{
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  .dtcdos, .petruspie
  {
    font-size: 15px;
  }

  /*********Inicia seccion quienes somos*********/
  .nosotros
  {
    /*border: 2px solid green;*/
    width: 100%;
    font-size: 25px;
  }

  .bannerdos
  {
    /*border: 2px solid red;*/
  }

  .descriptiondos
  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
    text-align: justify;
    /*border: 2px solid red;*/
  }

  .botonnosotros
  {
    width: 100%;
    text-align: center;
    margin-top: 90%;
  }

  .botonnosotros a
  {
    margin: 0px;
    font-size: 18px;
  }

  .bannertres
  {
    height: 100%;
    margin-bottom: 10%;
  }
  .contenmvv
  {
    width: 100%;
    padding-bottom: 10%;
  }

  .mi {
    width: 90%;
    margin-top: 5%;
  }


  .cabeza_mision
  {
    font-size: 18px;
  }

  .texto_mision{
    font-size: 15px;
  }

  .bannercuatro
  {
    /*border: 2px solid blue;*/
  }

  .bannercuatro h1
  {
    width: 100%;
    font-size: 25px;
  }


  div#body
  {
    margin: 0px;
    padding: 0px;
    width: 100%
  }

  div.subapartado  {
    width: 100%;
  }

  div.info
  {
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }


  p.info
  {
    margin: 5px;
    text-align: center;
  }

  /*********Inicia Producto***************/
  .lema{
    /*border: 2px solid red;*/
    font-size: 16px;
  }

  .contenproducc
  {
    /*border: 2px solid red;*/
    width: 100%;
  }

  .productounoo, .productodoss, .productotress, .productocuatro,.productocinco, .productoseis
  {
    width: 100%;
    margin: 0px;
    margin-top: 10%;
  }

  .productounoo:hover, .productodoss:hover, .productotress:hover, .productocuatro:hover,
  .productocinco:hover, .productoseis:hover{
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }

  /************Inicia Contacto***************/
  .contacto
  {
    /*border: 2px solid green;*/
    width: 100%;
    text-align: center;
    font-size: 28px;
    margin-top: 6%;
  }

  .contenformudatos
  {
    /*border: 2px solid red;*/
    height: 100%;
  }

  .formulario, .datos
  {
    width: 100%;
    margin: 0px;
  }

  .datos
  {
    /*border: 2px solid green;*/
    margin-top: 5%;
    height: 500px;
    /*height: 500px*/
  }

  .direccion
  {
    width: 100%;
  }



  .texto-direccion .dir-text
  {
    border-top: .5px solid rgb(42, 31, 88);
    width: 100%;
    margin: 0px;
    margin-bottom: 5%;
  }

  .dir-text div
  {
    text-align: center;
    /*border: 2px solid red;*/
  }
}
@media screen and (max-width: 1366px) and (min-width: 1024px) { }

@media screen and (min-width: 1367px) { }
